<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{ title }}</span>
</div>

<div class="content" role="main">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div>
      <span>Convert From: </span>
      <input id="fromCurrencyAmount" type="text" formControlName="fromCurrencyAmount" />
      <select formControlName="fromCurrency" class="form-control">
        <option disabled>Select Currency</option>
        <option *ngFor="let currency of currencies">{{currency}}</option>
      </select>
    </div>
    <div>
      <span>Convert To: </span>
      <input id="toCurrencyAmount" readonly type="text" formControlName="toCurrencyAmount" />
      <select formControlName="toCurrency" class="form-control">
        <option disabled>Select Currency</option>
        <option *ngFor="let currency of currencies">{{currency}}</option>
      </select>
    </div>
    
    <button class="button" type="submit">Convert Currency</button>
  </form>

</div>
<router-outlet></router-outlet>
